sudo: required

language: php

php:
  - 7.1
  - 7.2
  - 7.3

env:
  matrix:
    - COMPOSER_FLAGS="--prefer-lowest"
    - COMPOSER_FLAGS=""

before_install:
  - travis_retry composer self-update

install:
  - travis_retry composer update --prefer-source $COMPOSER_FLAGS

script:
  - phpunit

branches:
  only:
    - master
